
body{
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
:root{
    --brand-color:#4D5AE5;
}

/* reset start */

p, h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.list{
    list-style: none;
}

/* reset end */

.container{
width: 100%;
max-width: 1098px;
padding-right: 15px;
padding-left: 15px;
margin: 0 auto;
}

.header-logo{
    color: var(--brand-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    
        
}
.logo-part{
    margin-right: 76px;
    color: #2E2F42;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}


/*------------------- header------------------ */
.header-main{
    width: 1440px;
    height: 72px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.header-container{
    display: flex;
    align-items: center;
}
.nav-header{
    display: flex;
}

.header-list{
    display: flex;
    gap: 40px;
}

.header-element{
    color: #2e2f42;
    line-height: 1.5;
    /* text-orientation: initial; */
}

.header-element:hover{
    color: #404bbf;
}
.header-element:focus{
    color: #404bbf;
}

.header-list-element{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;    
}

.contacts-block{
    margin-left: auto;
}

.contacts-block-list{ 
    font-style: normal;
    display: flex;
}
.header-contact{
    margin-right: 40px;
    text-decoration: none;;
}

.header-address-element{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-address-element:hover {
    color: #404bbf;
}

.header-address-element:focus {
    color: #404bbf;
}


/*------------main-----------------*/


/* section one */

.first-section{
    background-color: #2e2f42 ;
    justify-content: center;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding-top: 188px;
}

.first-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    color:  #ffffff ;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
    width: 496px;;
}

.first-section-button{
    color: #FFF;
    background-color: #4D5AE5 ;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    margin-top: 48px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}
    /* section two */

.second-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.second-section-list{
    display: flex;
    align-items: center;
    gap: 24px;
}

.second-section-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-section-paragraph{
    font-size: 16px;
    line-height: 1.5;
    color: #434455 ;
    letter-spacing: 0.02em;
}

.second-section-list-element{
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

/* third section */

.third-section-title {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.third-section-list{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 72px;
    margin-bottom: 120px;
}

.third-section-list-element{
}

    /*fourth section*/

.forth-section{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.fourth-section-title{
    color: #2e2f42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.fourth-section-list{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 72px;
    
}

.fourth-section-list-element{
    background-color: #FFFFFF;
}

.fourth-section-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.footer-main {
    background-color:#2e2f42;
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    padding-top: 101px;
}
        
.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 18px;
}
        
.footer-logo-part {
    color: #F4F4FD;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
        
.footer-main-text {
    color: #F4F4FD;
    font-family: Roboto;
    width: 264px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 18px;
}


        /*-------------portfolio-------------*/

        .portfolio-header-list-element{
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            text-decoration: none;
        }
        .portfolio-header-list-element:hover{
            color:#404bbf;
        }
        .portfolio-header-list-element:focus{
            color:#404bbf;
        }

        .portfolio-header-list-link{
            color: #2e2f42;
            text-decoration: none;
        }
        .portfolio-header-list-link:hover {
            color: #404bbf;
        }
        
        .portfolio-header-list-link:focus {
            color: #404bbf;
        }

        .portfolio-address-list{
            list-style: none;
        }

        .portfolio-header-contact{
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            text-decoration: none;
        }

        .portfolio-header-contact:hover{
            color: #404bbf;
        }

        .portfolio-header-contact:focus{
            color: #404bbf;
        }

        .portfolio-header-logo{
            font-family: Raleway, sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color:#4d5ae5;
            text-decoration: none;
        }

        .portfolio-header-logo:hover{
            color: #404BBF;
        }
        .portfolio-header-logo:focus{
            color: #404BBF;
        }

        .portfolio-address-element{
            text-decoration: none;
            color: #434455;
        }
        .portfolio-address-element:hover{
            color: #404BBF; 
        }
        .portfolio-address-element:focus{
            color: #404BBF;
        }

        .portfolio-section-one-list{
            margin-left: 451px;
            margin-top: 108px;
            text-decoration: none;
        }

        .portfolio-section-one-list-element{
            text-decoration: none;
            font-family: Roboto, sans-serif;
            font-weight: 500px;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 1.04em;
            color: #4d5ae5 ;

        }

        .portfolio-button-main{
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #4d5ae5;
            background-color: #F4F4FD;
            cursor: pointer;
        }
        
        .portfolio-button-main:hover{
            color: #FFFFFF;
            background-color: #404BBF;
        }
        .portfolio-button-main:focus{
            color: #FFFFFF;
            background-color: #404BBF;
        }

        .portfolio-section-two-list{
            list-style: none;

        }

        .link{
            text-decoration: none;
        }

        .portfolio-section-two-list-element{
        }

        .portfolio-main-list-title{
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;

        }

        .portfolio-main-list-paragraph{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }


        .footer-main{
        }
        .footer-logo {
            color: #4D5AE5;
            font-family: Raleway, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
        
        
        }
        
        .footer-logo-part {
            color: #F4F4FD;
            text-decoration: none;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 21px;
            letter-spacing: 0.54px;
            text-transform: uppercase;
            text-decoration: none;
        }

        .footer-main-text{
            color: #F4F4FD;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.32px;
        }